<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- 1.必填连接数据库参数 (不可省略) -->
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://aloli.cn;database=QianQianWang</property>
        <property name="connection.username">webproject</property>
        <property name="connection.password">webproject</property>
        <!-- Hibernate整合C3P0连接池(不可省略) -->
        <property name="hibernate.connecton.provider_class">
            org.hibernate.c3p0.internal.C3P0ConnectionProvider
        </property>

        <!-- C3P0参数 -->
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.max_size">50</property>
        <!-- 毫秒 -->
        <property name="hibernate.c3p0.timeout">5000</property>
        <!-- 方言(不可省略) -->
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <!-- 2.扩展参数 -->
        <!-- 显示SQL语句 -->
        <property name="hibernate.show_sql">true</property>
        <!-- 格式化SQL语句 -->
        <property name="hibernate.format_sql">true</property>
        <!-- 自动维护表 -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- 3.映射文件路径(不可省略) -->
        <mapping resource="com/niit/entity/Orders.hbm.xml"/>
        <mapping class="com.niit.entity.Orders"/>
        <mapping class="com.niit.entity.Project"/>
        <mapping resource="com/niit/entity/Project.hbm.xml"/>
        <mapping resource="com/niit/entity/ProjectComment.hbm.xml"/>
        <mapping class="com.niit.entity.ProjectComment"/>
        <mapping resource="com/niit/entity/ProjectImg.hbm.xml"/>
        <mapping class="com.niit.entity.ProjectImg"/>
        <mapping resource="com/niit/entity/ProjectType.hbm.xml"/>
        <mapping class="com.niit.entity.ProjectType"/>
        <mapping class="com.niit.entity.Users"/>
        <mapping resource="com/niit/entity/Users.hbm.xml"/>
        <mapping class="com.niit.entity.UsersAddress"/>
        <mapping resource="com/niit/entity/UsersAddress.hbm.xml"/>
        <mapping resource="com/niit/entity/UsersInfo.hbm.xml"/>
        <mapping class="com.niit.entity.UsersInfo"/>

    </session-factory>


</hibernate-configuration>