<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">


    <!-- 1:启动SpringMVC基于注解的默认配置,因为默认是基于xml的 -->
    <mvc:annotation-driven/>
    <!-- 2.扫描创建类 -->
    <context:component-scan base-package="com.niit.controller"/>

    <!-- 3.返回的视图的解释 -->
    <!-- 因为SpringMVC默认已经配置jsp视图解释器,所以如果页面是jsp就不用配置了 -->

    <!-- 静态文件-->
    <!--    <mvc:default-servlet-handler/>-->
</beans>
