<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">


    <!-- 1:启动SpringMVC基于注解的默认配置,因为默认是基于xml的 -->
    <mvc:annotation-driven/>
    <!-- 2.扫描创建类 -->
    <context:component-scan base-package="com.niit.controller"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 先匹配所有路径，然后排除不需要检查的路径 -->
            <mvc:mapping path="/**"/>
            <mvc:mapping path="/manage**"/>

            <mvc:exclude-mapping path="/index.jsp"/>
            <mvc:exclude-mapping path="/Index.mvc"/>
            <mvc:exclude-mapping path="/projectlist.jsp"/>
            <mvc:exclude-mapping path="/Projectlist.mvc"/>
            <mvc:exclude-mapping path="/Projectlistpage.mvc"/>
            <mvc:exclude-mapping path="/RegisterType2.mvc"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/Login.mvc"/>
            <mvc:exclude-mapping path="/LoginBySms.mvc"/>
            <mvc:exclude-mapping path="/Register.mvc"/>
            <mvc:exclude-mapping path="/RegisterType2.mvc"/>

            <!-- 用户是否已经登录的检查 -->
            <bean id="loginInterceptor" class="com.niit.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 上传文件 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <!-- 最大内存大小 -->
        <property name="maxInMemorySize" value="10240"/>
        <!-- 最大文件大小，-1为不限制大小 -->
        <property name="maxUploadSize" value="-1"/>
    </bean>
</beans>
