body {
    overflow-y: hidden;
    background: #f9f9f9;
}

#addaddr {
    font-size: 1.5em;
    margin-left: 70%;
}

#addr {
    min-height: 700px;
}

#addrtable {
    margin-left: 15%;
    /*border: 1px solid #0f79be;*/
    width: 70%;
    border: 1px solid #d7d5d0;

}

#addrtable tr {
    height: 60px;
}

#addrtable td {
    border-bottom: 1px dotted #dcdcdc;
    border-left: 1px dotted #dcdcdc;
    color: #666;

}

