body {
    overflow-y: hidden;
}

#addaddr {
    font-size: 1.5em;
    margin-left: 70%;
}

#addr {
    min-height: 700px;
}

#addrtable {
    margin-left: 15%;
    /*border: 1px solid #0f79be;*/
    width: 70%;

}

#addrtable tr {
    height: 60px;
}

#addrtable td {
    border: 1px solid #0f79be;

}