/*
 	用于除主页和关于我们之外的网页
 	设置背景色
 	
 */

p {
    font-size: 18px;
    line-height: 25px;
}

#subject {
    padding-top: 250px;
    width: 1100px;
    margin: 0px auto 0;
}

#subject img {
    width: 70%;
}

h2 {
    color: darkred;
}

body {
    background: rgba(240, 248, 255, 1);
}
