/*下载页面的样式*/

#down {
    width: 1100px;
    border: 0;
    cellpadding: 4;
    cellspacing: 1;
    bgcolor: #CCCCCC;
    margin: 0 auto;
}

#down th {
    width: 150px;
    text-align: right;
}

#date {
    width: 150px;
}
