#subject {
    height: 600px;
}

/*左侧galleria*/
#galleria_div {
    float: left;
}

/*右侧文字*/
#subject_right {
    float: right;
    width: 400px;
    height: 500px;
    margin-top: 15px;
}

#subject_right div {
    text-align: center;
    margin-top: 15px;
}

#subject_right div ul {
    text-align: left;
    line-height: 25px;
}

.IndexUl {
    margin-left: 20px;
    font-size: 22px;
}